/*Sección Diego*/
.Seccion_principal{
    background-color: var(--PielClaro);
    width: 100%;
}
.Caja-Frase{
    margin: auto;
    width: 100%;
    height: 48rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 3rem;
    
    box-sizing: border-box;
}
.Frase-Img{
    width: 15rem;
    display: flex;
    margin: auto;
    margin-left: 22rem;
}
.Batatabit{
    font-size: 5rem;
    color: var(--Naranja); 
    font-weight: 600;
    margin-left:1rem;
}
.batata{
    width: 7rem;
   float: left;
   margin-top: 0.9rem;
}
.Frase-Revolucion{
    font-size: 5rem;
    color: var(--Blanco);
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.Frase-Ayuda{
    text-align: center;
    font-size: 3rem;
    color: var(--PielClaro);
    margin-top: 2.5rem;
}
 .Caja-Planes{
     display: flex;
     margin: auto;
     width: 45rem;
     height: 10rem;
     background-color:var(--PielClaro);
     border-radius: 0.5rem;
     margin-top: -4rem;
     box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -webkit-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -moz-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
 }
 .Frase-Planes{
     width: 32rem;
     height: 6rem;
     border-radius: 0.5rem;
 }
 .Img-Planes{
    margin-left: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}
 .Planes{
    font-size: 2.5rem;
    font-weight: 590; 
    text-align: center;
    color: var(--negro2);
    padding-top: 3rem;
    margin-left: 2rem;
}
.Flecha-Planes{
  width: 5rem;
  transform:rotate(90deg);
  margin-top: 2.5rem;
  margin-left: 3rem;
}
.Caja-Img{
    margin: auto;
    display: flex;
    width: 100%;
    padding-top: 3rem;
}
.Bitcoin{
    width: 25rem;
    margin: auto;
}
 .Caja-Frase-2{
    width: 60rem;
    padding: 2.2rem;
    box-sizing: border-box;
    margin: auto;
}
 .Frase-2{
    font-size: 4rem;
    color: var(--negro2);
    margin-top: 3rem;
    text-align: center;
    font-weight: 600;
}
.Informacion{
    text-align: center;
    font-size: 3rem;
    color: rgb(180, 180, 180);
    margin-top: 3rem;
}
.Caja-Precios{
   width: 30rem;
   height: 40rem;
   margin: auto;
   display: flex;
   flex-direction: block;
   margin-top: 2rem;

}
.Monedas{
    font-size: 4rem;
    color: var(--Naranja);
    margin-top: 3rem;
    text-align: left;
    font-weight: 700; 
    margin-left: 7rem;
}
.Extremos-Izq{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.2rem;
    font-size: 3rem;
    color:var(--Gris);
    border-radius: 1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Izq-i{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.2rem;
    font-size: 3rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Centros-Izq{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 3rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
/*Lado derecho*/
.Extremos-Drh{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 3rem;
    color:grey;
    border-radius: 0.1rem 1rem 0.1rem 0.1rem ;
    padding-left: 2rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Drh-i{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 3rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 1rem 0.1rem ;
    padding-left: 2rem;
    box-sizing: border-box;
    padding: 0.8rem;
}

.Centros-Drh{
    width: 18rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 3rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 2rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Caja-Actualizar{
    display: flex;
     margin: auto;
     margin-top: -10rem;
     width: 36rem;
     height: 10rem;
     background-color:var(--Piel);
     border-radius: 0.5rem;
}
.Caja-Actualizar p{
     margin: auto;
     font-size: 2.5rem;
}


/*Sección Deisi*/
.sen-2{
    width: 100%;
    background-color:var(--CafeOscuro);
    box-sizing: border-box; 
    margin: auto;
}
.Ti_h{
    margin:auto;
}
.t_1{
    width: 60rem;
    height: 15rem;
    margin:auto;
    
    color: var(--Blanco);
    box-sizing: border-box; 

}.t_1 h1{
     font-size: 4rem;
     text-align: center;
}
.t_2{
    width: 46.6rem;
    height: 10rem;
    margin:auto;
    padding-top: 0.7rem;
    color: var(--Gris);  
}
.t_2  h2{
    font-size: 2rem;
    text-align: center;
}

/*Parte 3*/

.con_h{
    width: 100%;
    height: 40rem;

    display: flex;
    flex-direction: row;
    Justify-content: space-evenly;
    flex-wrap: wrap;

}
 .Cuadro_1,.Cuadro_2,.Cuadro_3,.Cuadro_4{
     width: 35rem;
     height: 16rem;
     padding: 2rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
    
 }
 .Cuadro_1 h1,.Cuadro_2 h1, .Cuadro_3 h1,.Cuadro_4 h1{
     width: 100%;
     height: 2rem;
     margin-top: 0.6rem;
     margin-bottom: 0.6rem;
     font-size: 1.8rem;
     color: var(--Blanco);
 }
 .Cuadro_1 p,.Cuadro_2 p, .Cuadro_3 p,.Cuadro_4 p{
     font-size: 1.4rem;
     color: var(--Gris); 
 }
 .sen_3{
    width: 100%;
    margin: auto;
}
.FOTO-1{
    width:100%;
    height: 29.9rem;
    background-image: url(../img/imagen.png);
    background-size: cover;
}
.FOTO-1 h2{
    margin-bottom: 1rem;
    font-size: 4rem;
    color:var(--Blanco);
    text-align: center;
    padding-top: 13rem;
    box-sizing: border-box; 
}
.Fra h2{
    width: 40rem;
    height: 10.9rem;
    margin: auto;
    text-align: center;
    font-size:4rem;
    margin-top: 5rem;
    margin-bottom: 1rem;

    
}
.Fra h5 {
    width: 45rem;
    height: 7rem;
    margin: auto;
    color:var( --Gris) ;
    text-align: center;
    font-size: 2rem;
   
}

.OP_PAGO{ 
    width: 100%;
    height: 36rem;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-direction: row;
    Justify-content: space-evenly;
    flex-wrap: wrap;
  
}
.Pagop,.Pago1,.Pago3{
    width: 24rem;
    height: 30rem;
    background-color:var(--Blanco);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(134, 134, 134);
    margin: auto;
    margin-bottom: 3rem;
    position: relative;
     
 }
footer{
    width:100%;
    height:15rem;
    margin: auto;
    background-color: var(--Naranja);
    color:var(--Blanco);
    display:flex;
    justify-content: space-evenly;  
}
.P_1 {
    width: 15rem;
    height:12rem ;
    margin: auto;
    padding-top: 2rem;
}
.P_1 li{
    font-size: 2rem;
    list-style: none;
}
.P_2{
    width: 20rem;
    height:10rem ;
    margin: auto;
    margin-left: 3rem;
  
    padding: 2rem;
}