/*Sección Diego*/
.Seccion_principal{
    background-color: var(--PielClaro);
}
.Caja-Frase{
    margin: auto;
    width: 37.5rem;
    height: 35rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 3rem;
    
    box-sizing: border-box;
} 
.Frase-Img{
    width: 15rem;
    display: flex;
    margin: auto;
    margin-left: 6rem;
}
.Batatabit{
    font-size: 3rem;
    color: var(--Naranja); 
    font-weight: 600;
    margin-left:1rem;
}
.batata{
    width: 4rem;
   float: left;
   margin-top: 0.9rem;
}
.Frase-Revolucion{
    font-size: 3rem;
    color: var(--Blanco);
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.Frase-Ayuda{
    text-align: center;
    font-size: 1.85rem;
    color: var(--PielClaro);
    margin-top: 2.5rem;
}
 .Caja-Planes{
     display: flex;
     margin: auto;
     width: 30rem;
     height: 6rem;
     background-color:var(--PielClaro);
     border-radius: 0.5rem;
     margin-top: -4rem;
     box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -webkit-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -moz-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
 }
 .Frase-Planes{
     width: 27rem;
     height: 6rem;
     border-radius: 0.5rem;
 }
 .Img-Planes{
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}
 .Planes{
    font-size: 1.85rem;
    font-weight: 590; 
    text-align: center;
    color: var(--negro2);
    padding-top: 1.5rem;
}
.Flecha-Planes{
  width: 2.5rem;
  transform:rotate(90deg);
  margin-top:1.6rem;
}
.Caja-Img{
    margin: auto;
    display: flex;
    width: 37.5rem;
    padding-top: 3rem;
}
.Bitcoin{
    width: 25rem;
    margin: auto;
}
 .Caja-Frase-2{
    padding: 2.2rem;
    box-sizing: border-box;
}
 .Frase-2{
    font-size: 3rem;
    color: var(--negro2);
    margin-top: 2.8rem;
    text-align: center;
    font-weight: 700;
}
.Informacion{
    text-align: center;
    font-size: 1.85rem;
    color: rgb(180, 180, 180);
    margin-top: 2.5rem;
}
.Caja-Precios{
   width: 30rem;
   height: 40rem;
   margin: auto;
   display: flex;
   flex-direction: block;
   margin-top: 2rem;

}
.Monedas{
    font-size: 3rem;
    color: var(--Naranja);
    margin-top: 3rem;
    text-align: left;
    font-weight: 700; 
    margin-left: 6rem;
}
.Extremos-Izq{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:var(--Gris);
    border-radius: 1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Izq-i{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Centros-Izq{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 1.85rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Drh{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:grey;
    border-radius: 0.1rem 1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Drh-i{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}

.Centros-Drh{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 1.85rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Caja-Actualizar{
    display: flex;
     margin: auto;
     margin-top: -15rem;
     width: 25rem;
     height: 6rem;
     background-color:var(--Piel);
     border-radius: 0.5rem;
}
.Caja-Actualizar p{
     margin: auto;
     font-size: 1.60rem;
}
/*Sección Deisi*/
.sen-2{
    background-color:var(--CafeOscuro);
}
.Principal_2{
    width: 100%;
    height: 84rem;
    box-sizing: border-box; 
    margin: auto;
    flex-direction:column;
    align-items: center;
}
.t_1{
    width: 28rem;
    height: 8rem;
    margin:auto;
    padding-top:2rem;
    color: var(--Blanco);
  
}.t_1 h1{
     font-size: 2rem;
     text-align: center;
}
.t_2{
    width: 90%;
    height: 4rem;
    margin:auto;
    padding-top: 1rem;
    color: var(--Gris);  
}
.t_2  h2{
    font-size: 1.3rem;
    text-align: center;
}

/* Cuadros*/
.con_h{
    width: 37.5rem;
    margin: auto;
 }
 .Cuadro_1,.Cuadro_2,.Cuadro_3,.Cuadro_4{
     width: 85%;
     height: 15rem;
     margin: auto;
     padding: 2rem;
     border-radius: 4px;
     box-shadow: 5px 5px 15px rgb(32, 30, 30);
     margin-top: 2rem;
     color: var(--Blanco1);
     background-color:var(--CafeClaro);
 }
 .Cuadro_1 h1,.Cuadro_2 h1, .Cuadro_3 h1,.Cuadro_4 h1{
     width: 100%;
     height: 2rem;
     margin-top: 0.6rem;
    
     margin-bottom: 0.6rem;
     font-size: 1.8rem;
     color: var(--Blanco);
 }
 .Cuadro_1 p,.Cuadro_2 p, .Cuadro_3 p,.Cuadro_4 p{
     font-size: 1.5rem;
     color: var(--Gris); 
 }
 /* Parte de imagen */

.sen_3{
    width: 100%;
    margin: auto;
}
.FOTO-1{
    width:37.5rem;
    height: 49rem;
    margin: auto;
    background-image: url(../img/women.png);
    background-size: cover;
}
.FOTO-1 h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    color:var(--Blanco);
    text-align: center;
    padding-top: 10rem;
    box-sizing: border-box; 
}
/* Parte 2  de  imagen */

.Fra h2{
    width: 25rem;
    height: 5rem;
    margin: auto;
    text-align: center;
    font-size:2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.Fra h5 {
    width: 25rem;
    height: 3rem;
    margin: auto;
    color:var( --Gris) ;
    text-align: center;
    font-size: 1.3rem;
     margin-top: 0.8rem;
     margin-bottom: 5rem; 
}

/* Cuadro de Pago */
.OP_PAGO{ 
}
.Pagop,.Pago1,.Pago3{
    width: 24rem;
    height: 30rem;
    background-color:var(--Blanco);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(134, 134, 134);
    margin: auto;
    margin-bottom: 3rem;
    position: relative;
     
 }
 .Cua-Na{
     width: 12rem;
     height:4rem;
     border-radius: 0.9rem;
     padding: 1rem;
     font-size: 0.9rem;
 
     text-align: center;
     box-sizing: border-box;
     background-color: var(--Naranja);
     color:var(--Blanco);
     margin-top: -2rem;
     margin-left:6rem;
     position:absolute;
 }
 .Pa,.Pa1,.Pa2{
     width:100% ;
     height:6rem;
     text-align: center;
     padding-top:4rem ;
 }
 .Pa h2{
     font-size:1.9rem; 
 }
 .Pa1 h2,.Pa2 h2{
    font-size:1.9rem; 
    color: var(--Gris);
}
 .Di,.Di1,.Di2{
     width:10rem;
     height: auto;
     margin: auto;
     margin-top: 2rem;
     
     display:flex;
    
}
 .Di h5{
 padding-top: 0.2rem;
 padding-right:0.3rem ;
 color: var( --CafeClaro);
 font-size: 1.6rem;
 
}
.Di1 h5,.Di2 h5{
    padding-top: 0.2rem;
    padding-right:0.3rem ;
    color: var( --Gris);
    font-size: 1.6rem;   
}
 .Di h1{
     font-size: 7rem; 
     margin: auto;
}
.Di1 h1,.Di2 h1{
    font-size: 7rem; 
    margin: auto;
    color: var(--Gris);
}

.Ah{
     width: 22rem;
     height: 4rem;
     margin: auto;
     margin-bottom: 2rem;
     color: var(--Gris);
}
 .Ah p{
     text-align: center;
     font-size: 1.5rem;
}
 .button0{
     width: 15rem;
     height:5rem;
     padding: 1.4rem;
     margin:auto;
    
     border-color: var(--Naranja);
     border-radius:0.3rem;
 
     box-sizing: border-box; 
     display:flex;
}
.button_1,.button_2{
    width: 15rem;
    height:5rem;
    padding: 1.4rem;
    margin:auto;
   
    border-color: var(--Gris);
    border-radius:0.3rem;

    box-sizing: border-box; 
    display:flex;
}
 .Es{
 width: 10rem;
 height: 1rem;
 font-size:1.5rem;
 
}
.Es1,.Es2{
    width: 10rem;
    height: 1rem;
    font-size:1.5rem;
    color: var(--Gris);
    
}
 .Flecha{
     width: 2.5rem;
}
.Flecha1,.Flecha2{
    width: 2.5rem;
}


/* Footer */

footer{
    width:100%;
    height:15rem;
    margin: auto;
    background-color: var(--Naranja);
    color:var(--Blanco);
    display:flex;
    justify-content: space-evenly;  
}
.P_1 {
    width: 12rem;
    height:9rem ;
    margin: auto;
    padding-top: 2rem;
}
.P_1 li{
    font-size: 1.5rem;
    list-style: none;
}
.P_2{
    width: 12rem;
    height:9rem ;
    margin: auto;
    margin-left: 3rem;
    padding: 2rem;

}.MG_1{
    width: 5rem;
    height: 3rem;
    margin: auto;
    display: flex;
}
.P-B{
    margin-top: 1rem;
    font-size:0.9rem ;
    text-align: center;
}