/*Sección Diego*/













/*Sección Deisi*/
.sen-2{
    width: 100%;
    background-color:var(--CafeOscuro);
}
.Principal_2{
    width: 100%;
    height: 84rem;

    box-sizing: border-box; 
    margin: auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.t_1{
    width: 28rem;
    height: 8rem;
    margin:auto;
    padding-top:2rem;
    
    color: var(--Blanco);
    box-sizing: border-box; 
}.t_1 h1{
     font-size: 2rem;
     text-align: center;
}
.t_2{
    width: 90%;
    height: 4rem;
    margin:auto;
    padding-top: 1rem;
   
    color: var(--Gris);  
}
.t_2  h2{
    font-size: 1.3rem;
    text-align: center;
}

/* Cuadros*/
.con_h{
    width: 37.5rem;
 }
 .Cuadro_1,.Cuadro_2,.Cuadro_3,.Cuadro_4{
     width: 85%;
     height: 15rem;
     margin: auto;
     padding: 2rem;
     border-radius: 4px;
     box-shadow: 5px 5px 15px rgb(32, 30, 30);
     margin-top: 2rem;
     color: var(--Blanco1);
     background-color:var(--CafeClaro);
 }
 .Cuadro_1 h1,.Cuadro_2 h1, .Cuadro_3 h1,.Cuadro_4 h1{
     width: 100%;
     height: 2rem;
     margin-top: 0.6rem;
    
     margin-bottom: 0.6rem;
     font-size: 1.8rem;
     color: var(--Blanco);
 }
 .Cuadro_1 p,.Cuadro_2 p, .Cuadro_3 p,.Cuadro_4 p{
     font-size: 1.5rem;
     color: var(--Gris); 
 }
 /* Parte de imagen */

.sen_3{
    width: 100%;
    margin: auto;
}
.FOTO-1{
    width:37.5rem;
    height: 49rem;
    margin: auto;
    background-image: url(../img/women.png);
    background-size: cover;
}
.FOTO-1 h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    color:var(--Blanco);
    text-align: center;
    padding-top: 10rem;
    box-sizing: border-box; 
}
/* Parte 2  de  imagen */

.Fra h2{
    width: 25rem;
    height: 5rem;
    margin: auto;
    text-align: center;
    font-size:2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.Fra h5 {
    width: 25rem;
    height: 3rem;
    margin: auto;
    color:var( --Gris) ;
    text-align: center;
    font-size: 1.3rem;
     margin-top: 0.8rem;
     margin-bottom: 5rem; 
}

/* Cuadro de Pago */
.Pago{
    width: 24rem;
    height: 30rem;
    background-color:var(--Blanco);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(134, 134, 134);
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
     
 }
 .Cua-Na{
     width: 12rem;
     height:4rem;
     border-radius: 0.9rem;
     padding: 1rem;
     font-size: 0.9rem;
 
     text-align: center;
     box-sizing: border-box;
     background-color: var(--Naranja);
     color:var(--Blanco);
     margin-top: -2rem;
     margin-left:6rem;
     position:absolute;
 }
 .Pa{
     width:100% ;
     height:6rem;
     text-align: center;
     padding-top:4rem ;
 }
 .Pa h2{
     font-size:1.9rem; 
 }
 .Di{
     width:10rem;
     height: auto;
     margin: auto;
     margin-top: 2rem;
     
     display:flex;
    
}
 .Di h5{
 padding-top: 0.2rem;
 padding-right: 0.5rem;
 color: var( --CafeClaro);
 font-size: 1.6rem;
 
}
 .Di h1{
     font-size: 7rem; 
}
 .Ah{
     width: 22rem;
     height: 4rem;
     margin: auto;
     margin-bottom: 2rem;
     color: var(--Gris);
}
 .Ah p{
     text-align: center;
     font-size: 1.5rem;
}
 button{
     width: 15rem;
     height:5rem;
     padding: 1.4rem;
     margin:auto;
    
     border-color: var(--Naranja);
     border-radius:0.3rem;
 
     box-sizing: border-box; 
     display:flex;
     
}
 .Es{
 width: 10rem;
 height: 1rem;
 font-size:1.5rem;
 
}
 .Flecha{
     width: 2.5rem;
}


/* Footer */

footer{
    width:100%;
    height:15rem;
    margin: auto;
    background-color: var(--Naranja);
    color:var(--Blanco);
    display:flex;
    justify-content: space-evenly;  
}
.P_1 {
    width: 12rem;
    height:9rem ;
    margin: auto;
    padding-top: 2rem;
}
.P_1 li{
    font-size: 1.5rem;
    list-style: none;
}
.P_2{
    width: 12rem;
    height:9rem ;
    margin: auto;
    margin-left: 3rem;
    padding: 2rem;

}.MG_1{
    width: 5rem;
    height: 3rem;
    margin: auto;
    display: flex;
}
.P-B{
    margin-top: 1rem;
    font-size:0.9rem ;
    text-align: center;
}