/*Sección Diego*/
.Seccion_principal{
    background-color: var(--PielClaro);
}
.Caja-Frase{
    margin: auto;
    width: 37.5rem;
    height: 35rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 3rem;
    
    box-sizing: border-box;
}
.Frase-Img{
    width: 15rem;
    display: flex;
    margin: auto;
    margin-left: 6rem;
}
.Batatabit{
    font-size: 3rem;
    color: var(--Naranja); 
    font-weight: 600;
    margin-left:1rem;
}
.batata{
    width: 4rem;
   float: left;
   margin-top: 0.9rem;
}
.Frase-Revolucion{
    font-size: 3rem;
    color: var(--Blanco);
    margin-top: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.Frase-Ayuda{
    text-align: center;
    font-size: 1.85rem;
    color: var(--PielClaro);
    margin-top: 2.5rem;
}
 .Caja-Planes{
     display: flex;
     margin: auto;
     width: 30rem;
     height: 6rem;
     background-color:var(--PielClaro);
     border-radius: 0.5rem;
     margin-top: -4rem;
     box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -webkit-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
     -moz-box-shadow: -4px -5px 69px -22px rgba(0,0,0,0.52);
 }
 .Frase-Planes{
     width: 27rem;
     height: 6rem;
     border-radius: 0.5rem;
 }
 .Img-Planes{
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}
 .Planes{
    font-size: 1.85rem;
    font-weight: 590; 
    text-align: center;
    color: var(--negro2);
    padding-top: 1.5rem;
}
.Flecha-Planes{
  width: 2.5rem;
  transform:rotate(90deg);
  margin-top:1.6rem;
}
.Caja-Img{
    margin: auto;
    display: flex;
    width: 37.5rem;
    padding-top: 3rem;
}
.Bitcoin{
    width: 25rem;
    margin: auto;
}
 .Caja-Frase-2{
    padding: 2.2rem;
    box-sizing: border-box;
}
 .Frase-2{
    font-size: 3rem;
    color: var(--negro2);
    margin-top: 2.8rem;
    text-align: center;
    font-weight: 700;
}
.Informacion{
    text-align: center;
    font-size: 1.85rem;
    color: rgb(180, 180, 180);
    margin-top: 2.5rem;
}
.Caja-Precios{
   width: 30rem;
   height: 40rem;
   margin: auto;
   display: flex;
   flex-direction: block;
   margin-top: 2rem;

}
.Monedas{
    font-size: 3rem;
    color: var(--Naranja);
    margin-top: 3rem;
    text-align: left;
    font-weight: 700; 
    margin-left: 6rem;
}
.Extremos-Izq{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:var(--Gris);
    border-radius: 1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Izq-i{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Centros-Izq{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 1.85rem;
    color:var(--Gris);
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Drh{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:grey;
    border-radius: 0.1rem 1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Extremos-Drh-i{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 2rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}

.Centros-Drh{
    width: 14.8rem;
    height: 5rem;
    background-color: var(--Blanco);
    margin: 0.1rem;
    font-size: 1.85rem;
    color:grey;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem ;
    padding-left: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
}
.Caja-Actualizar{
    display: flex;
     margin: auto;
     margin-top: -15rem;
     width: 25rem;
     height: 6rem;
     background-color:var(--Piel);
     border-radius: 0.5rem;
}
.Caja-Actualizar p{
     margin: auto;
     font-size: 1.60rem;
}

/*Sección Deisi*/